<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gz.pm.dao.PmTaskTabCusMapper" >
	<sql id="Page_Where_Clause" >
		SELECT 
		  T.id,
		  t.name,
		  t.description,
		  t.bug,
		  t.jhstarttime,
		  DATE_FORMAT(
		    t.jhstarttime,
		    '%Y-%c-%d %H:%i:%s'
		  ) AS jhst,
		    t.jhendtime,
		  DATE_FORMAT(
		    t.jhendtime,
		    '%Y-%c-%d %H:%i:%s'
		  ) AS jhet,
		    t.sjstarttime,
		  DATE_FORMAT(
		    t.sjstarttime,
		    '%Y-%c-%d %H:%i:%s'
		  ) AS sjst,
		    t.sjendtime,
		  DATE_FORMAT(
		    t.sjendtime,
		    '%Y-%c-%d %H:%i:%s'
		  ) AS sjet,
		  t.state,
		  t.userid,
		  t.testerid,
		  t.projectid,
		  U.NAME USER,
		  PU.NAME TESTER,
		  P.NAME PROJECTNAME
		FROM
		  pm_task_tab T 
		  LEFT JOIN pm_user_tab U 
		    ON T.USERID = U.ID 
		  LEFT JOIN pm_user_tab PU 
		    ON T.TESTERID = PU.ID 
		  LEFT JOIN pm_project_tab P 
		    ON T.PROJECTID = P.ID 
		    WHERE 1 = 1 
		<if test="userid != null and userid != ''" >
		    AND t.userid = #{userid}
		</if>
		<if test="projectid != null and projectid != ''" >
		    AND t.projectid = #{projectid}
		</if>
		<if test="starttime != null and starttime != ''" >
			<![CDATA[ AND t.jhstarttime >= STR_TO_DATE(#{starttime},'%Y-%c-%d %H:%i:%s') ]]> 
		</if>
		<if test="endtime != null and endtime != ''" >
			<![CDATA[ AND t.jhstarttime <= STR_TO_DATE(#{endtime},'%Y-%c-%d %H:%i:%s') ]]> 
		</if>
		<if test="state != null" >
	      <choose>
		    <when test="state == 5">
			    and t.sjendtime is null
		    </when>
		    <when test="state == 6">
			    and ((t.sjendtime > t.jhendtime) or (t.sjendtime is null and now() > t.jhendtime))
		    </when>
		    <otherwise>
			    AND t.state = #{state}
		  	</otherwise>
		  </choose>
		</if>
		order by t.jhstarttime
	</sql>
	<select id="findTaskPageList" resultType="com.gz.pm.pojo.vo.PmTaskVo" parameterType="com.gz.pm.pojo.vo.PmTaskVo" >
		<include refid="Page_Where_Clause" />
	</select>
  <select id="findTaskPageCount" resultType="int" parameterType="com.gz.pm.pojo.vo.PmTaskVo" >
  		select count(*) num from (<include refid="Page_Where_Clause" />) t
  </select>
</mapper>